<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @exhibition.name %>
</p>

<p>
  <b>Open:</b>
  <%= @exhibition.open %>
</p>

<p>
  <b>Close:</b>
  <%= @exhibition.close %>
</p>

<p>
  <b>Description:</b>
  <%= @exhibition.description %>
</p>

<p>
  <b>Location:</b>
  <%= @exhibition.location %>
</p>

<p>
  <b>Image1:</b>
  <%= @exhibition.image1 %>
</p>

<p>
  <b>Image2:</b>
  <%= @exhibition.image2 %>
</p>

<p>
  <b>Image3:</b>
  <%= @exhibition.image3 %>
</p>

<p>
  <b>Image4:</b>
  <%= @exhibition.image4 %>
</p>

<p>
  <b>Image5:</b>
  <%= @exhibition.image5 %>
</p>

<p>
  <b>Opening:</b>
  <%= @exhibition.opening %>
</p>

<p>
  <b>Filename:</b>
  <%= @exhibition.filename %>
</p>


<%= link_to 'Edit', edit_exhibition_path(@exhibition) %> |
<%= link_to 'Back', exhibitions_path %>
<style type="text/css">
  div#navbar a:nth-child(4){
    background-color:#CEF6F5;
}
</style>
