<p id="notice"><%= notice %></p>

<p>
  <b>Object:</b>
  <%= @artwork.object %>
</p>

<p>
  <b>Creator:</b>
  <%= @artwork.creator %>
</p>

<p>
  <b>Title:</b>
  <%= @artwork.title %>
</p>

<p>
  <b>Description:</b>
  <%= @artwork.description %>
</p>

<p>
  <b>Location:</b>
  <%= @artwork.location %>
</p>

<p>
  <b>Recfrom:</b>
  <%= @artwork.recfrom %>
</p>

<p>
  <b>Date:</b>
  <%= @artwork.date %>
</p>

<p>
  <b>Filename:</b>
  <%= @artwork.filename %>
</p>


<%= link_to 'Edit', edit_artwork_path(@artwork) %> |
<%= link_to 'Back', artworks_path %>
